// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$figure-height:       350px;
$figure-height-rand:  200px;

$color-bg-figure:     #f5f5f5;
$color-bg-body:       #fcfbf9;

$base-font-size:        16;

//fonts family
$font-family-Oswald:      'Oswald', sans-serif;
$font-family-Pacifico:       'Pacifico', cursive;
$font-family-roboto:       'Roboto', sans-serif;

$font-family-base : $font-family-roboto;